In [ ]:
# GroupBy and Aggregation in Pandas
# The groupby() function in Pandas is used to group data based on one or more columns, and then apply aggregation functions (like sum, mean, count, etc.) to each group.

In [1]:
import numpy as np 
import pandas as pd

In [3]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}

df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [4]:
# GroupBy

In [5]:
# Group by Category and calculate the sum of Sales

In [10]:
cat = df.groupby("Category")["Sales"].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [11]:
# # Group by Store and calculate the sum of Sales

In [12]:
st = df.groupby("Store")["Sales"].sum()
st

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [13]:
# Group by multiple columns
# Group by Category and Store

In [14]:
mul = df.groupby(["Category", "Store"])["Sales"].sum()
mul

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [15]:
# Aggregations

In [20]:
df["Sales"].mean()

"""mean median min max count std """

'mean median min max count std '

In [21]:
df["Sales"].agg(['sum', 'mean', 'min', 'max', 'count', 'std', 'median'])

sum       1500.000000
mean       187.500000
min        100.000000
max        300.000000
count        8.000000
std         66.062741
median     190.000000
Name: Sales, dtype: float64